body {
  background-color: black
}
h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}
h2{
  font-family: Verdana;
  font-size: 21px;
  font-weight: normal;
  color: grey;
  text-align: center;
}
#link {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
img {
  display: block;
  text-align: center;
}
footer {
  font-family: Verdana;
  font-weight: normal;
  color: grey;
  font-size: 21px;
  text-align: right;
}
